// color
$brown: #463c37;
$green: #3a6153;
$white: #fff;
$black: #222;


// 未使用
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;
$activeRed: #d0171b;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 85px;
$headerHeightSP: 63px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
