/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
background: $white;
}

.siteFooter-map {
  padding: 100px 0;
  background: $green;
  color: $white;
}

.siteFooter-map-inner {
  @include u-contentCenter;
  display: flex;
  justify-content: space-between;

  @include u-mqMax {
    flex-direction: column;
  }

  iframe {
    max-width: 60%;
    @include u-mqMax {
      max-width: 100%;
    }
  }
}

.siteFooter-map-left {
  img {
    margin-bottom: 60px;
  }
}

.siteFooter-map-item {
  display: flex;
}

.siteFooter-access {
  @include u-contentCenter;
  padding-top: 40px;
  padding-bottom: 100px;
}

.siteFooter-access-link {
  color: $brown;
  display: flex;
  margin-bottom: 70px;
  &::before {
    width: 20px;
    height: 25px;
    display: block;
    content: "";
    background: url(../images/common/mapIcon.png) center center / contain;
    background-repeat: no-repeat;
  }
}

.siteFooter-access-inner {
  display: flex;
  justify-content: space-between;
}

.siteFooter-access-ttl {
  font-family: $Zen;
  font-size: 55px;
  opacity: .2;

}


.siteFooter-access-item__ttl {
font-weight: bold;
}

.inner__cont {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(70, 60, 55, 0.5);
}

.copyrights {
  opacity: .5;
  font-size: 14px;
}